<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
   <dict>
      <key>Identifier</key>
      <string>org.aerogear.template.project.AeroGear-Push</string>
      <key>Name</key>
      <string>AeroGear Push Dependency</string>
      <key>Ancestors</key>
      <array />
      <key>Description</key>
      <string />
      <key>Kind</key>
      <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
      <key>Options</key>
      <array>
         <dict>
            <key>Default</key>
            <string>false</string>
            <key>Description</key>
            <string>Indicates whether the application should include AeroGear Push Support</string>
            <key>Identifier</key>
            <string>otp</string>
            <key>Name</key>
            <string>Enable 'Push' support</string>
            <key>SortOrder</key>
            <integer>2</integer>
            <key>Type</key>
            <string>checkbox</string>
            <key>Units</key>
            <dict>
               <key>true</key>
               <dict>
                  <key>Definitions</key>
                  <dict>
                     <key>../Podfile:push</key>
                     <string>pod &apos;AeroGear-Push&apos;, &apos;0.8.1&apos;</string>
                     <key>___VARIABLE_classPrefix:identifier___AppDelegate.m:push</key>
                     <string>#pragma mark - Push Notification handling

// Upon successfully registration with APNS, we register the device to 'AeroGear Push Server' 
- (void)application:(UIApplication *)application didRegisterForRemoteNotificationsWithDeviceToken:(NSData *)deviceToken 
{
    // initialize "Registration helper" object using the
    // base URL where the "AeroGear Unified Push Server" is running.
    AGDeviceRegistration *registration =
    
        [[AGDeviceRegistration alloc] initWithServerURL:[NSURL URLWithString:@"&lt;# URL of the running AeroGear UnifiedPush Server #&gt;"]];
    
    // perform registration of this device
    [registration registerWithClientInfo:^(id&lt;AGClientDeviceInformation&gt; clientInfo) {
        // set up configuration parameters

        // apply the deviceToken as received by Apple's Push Notification service
        [clientInfo setDeviceToken:deviceToken];

        // You need to fill the 'Variant Id' together with the 'Variant Secret'
        // both received when performing the variant registration with the server.
        // See section "Register an iOS Variant" in the guide:
        // http://aerogear.org/docs/guides/aerogear-push-ios/unified-push-server/
        [clientInfo setVariantID:@"&lt;# Variant Id #&gt;"];
        [clientInfo setVariantSecret:@"&lt;# Variant Secret #&gt;"];
        
        // --optional config--
        // set some 'useful' hardware information params
        UIDevice *currentDevice = [UIDevice currentDevice];
        
        [clientInfo setOperatingSystem:[currentDevice systemName]];
        [clientInfo setOsVersion:[currentDevice systemVersion]];
        [clientInfo setDeviceType: [currentDevice model]];

    } success:^() {
        
        // successfully registered!

    } failure:^(NSError *error) {
        // An error occurred during registration.
        // Let's log it for now
        NSLog(@"PushEE registration Error: %@", error);
    }];
}

// Callback called after failing to register with APNS
- (void)application:(UIApplication *)application didFailToRegisterForRemoteNotificationsWithError:(NSError *)error {
    // Log the error for now
    NSLog(@"APNs Error: %@", error);
}

// When the program is in the foreground, this callback receives the Payload of the received Push Notification message
- (void)application:(UIApplication *)application didReceiveRemoteNotification:(NSDictionary *)userInfo {
    
    // 'userInfo' contains information related to the remote notification.
    
}

// Uncomment if you want to support 'silent' Push Notifications feature in iOS 7.
// Please note:
//            - iOS 7 will call this method (if implemented) instead of the standard
//              didReceiveRemoteNotification: to handle the request. The generated 
//              template code will smartly forward the call to this method if it detects
//              the application runs in foreground.
//            - ensure that 'Remote notifications' capability is enabled on the app target.
//
// Note: If your application has no need for background processing, using the didReceiveRemoteNotification: method
//       is recommended.
/*
- (void)application:(UIApplication *)application didReceiveRemoteNotification:(NSDictionary *)userInfo fetchCompletionHandler:(void (^)(UIBackgroundFetchResult))completionHandler {

    if (application.applicationState == UIApplicationStateBackground) {
        // perform tasks that are best suited for background processing,
        // such as download data that is related to the push notification
        ...
        
        // afterwards it is required to invoke the given block:
        completionHandler(UIBackgroundFetchResultNewData); // download of data did succeed
    } else {
        // foreground .....
        [self application:application didReceiveRemoteNotification:userInfo];
    }
}
*/</string>
                     <key>___VARIABLE_classPrefix:identifier___AppDelegate.m:applicationdidFinishLaunchingWithOptions:setup:push</key>
                     <string>
// register with Apple Push Notification Service (APNS)
// to retrieve the device token.
[[UIApplication sharedApplication] registerForRemoteNotificationTypes:
 (UIRemoteNotificationTypeBadge | UIRemoteNotificationTypeSound | UIRemoteNotificationTypeAlert)];
 </string>
                  </dict>
                  <key>Nodes</key>
                  <array>
                     <string>../Podfile:push</string>
                     <string>___VARIABLE_classPrefix:identifier___AppDelegate.m:applicationdidFinishLaunchingWithOptions:setup:push</string>
                     <string>___VARIABLE_classPrefix:identifier___AppDelegate.m:push</string>
                     <string>___VARIABLE_classPrefix:identifier___AppDelegate.m:import:AeroGearPush.h</string>
                  </array>
               </dict>
            </dict>
         </dict>
      </array>
      <key>SortOrder</key>
      <integer>1</integer>
   </dict>
</plist>
