<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
   <dict>
      <key>Name</key>
      <string>AeroGear Application</string>
      <key>Description</key>
      <string>This template provides a starting point for an application using the AeroGear framework. It provides a shared instance class that will be used to provide connectivity through Pipes to remote RESTful endpoints, as well as a Podfile and GitHub's Objective-C .gitignore file.</string>
      <key>Identifier</key>
      <string>org.aerogear.template.project.ios</string>
      <key>Kind</key>
      <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
      <key>Ancestors</key>
      <array>
         <string>org.aerogear.template.project.CocoaPods</string>
         <string>org.aerogear.template.project.AeroGear</string>
         <string>com.apple.dt.unit.cocoaTouchApplication</string>
         <string>com.apple.dt.unit.objectiveCApplication</string>
         <string>com.apple.dt.unit.iPhoneBase</string>
         <string>com.apple.dt.unit.prefixable</string>
      </array>
      <key>Concrete</key>
      <true />
      <key>Definitions</key>
      <dict>
        <key>.gitignore</key>
        <dict>
          <key>Path</key>
          <string>gitignore</string>
        </dict>
        <key>Classes/Controllers/___VARIABLE_classPrefix:identifier___ViewController.h</key>
        <dict>
          <key>Path</key>
          <string>ViewController.h</string>
          <key>Group</key>
          <key>Controllers</key>          
        </dict>
        <key>Classes/Controllers/___VARIABLE_classPrefix:identifier___ViewController.m</key>
        <dict>
          <key>Path</key>
          <string>ViewController.m</string>
          <key>Group</key>
          <key>Controllers</key>          
        </dict>
         <key>___VARIABLE_classPrefix:identifier___AppDelegate.h:methods:navigationController</key>
         <string>@property (strong, nonatomic) UINavigationController *navigationController;</string>
         <key>___VARIABLE_classPrefix:identifier___AppDelegate.m:import</key>
         <string>#import "___VARIABLE_classPrefix:identifier___ViewController.h"</string>
         <key>___VARIABLE_classPrefix:identifier___AppDelegate.m:applicationdidFinishLaunchingWithOptions</key>
         <string>- (BOOL)application:(UIApplication *)application
didFinishLaunchingWithOptions:(NSDictionary *)launchOptions
{
    self.window = [[UIWindow alloc] initWithFrame:[[UIScreen mainScreen] bounds]];
    
    UIViewController *viewController = [[___VARIABLE_classPrefix:identifier___ViewController alloc] initWithStyle:UITableViewStylePlain];
    self.navigationController = [[UINavigationController alloc] initWithRootViewController:viewController];

    self.window = [[UIWindow alloc] initWithFrame:[[UIScreen mainScreen] bounds]];
    self.window.rootViewController = self.navigationController;

    [self.window makeKeyAndVisible];
    return YES;
}</string>
</dict>
      <key>Nodes</key>
      <array>
         <string>___VARIABLE_classPrefix:identifier___AppDelegate.m:applicationdidFinishLaunchingWithOptions</string>
         <string>___VARIABLE_classPrefix:identifier___AppDelegate.h:methods:navigationController</string>
         <string>Classes/Controllers/___VARIABLE_classPrefix:identifier___ViewController.h</string>
         <string>Classes/Controllers/___VARIABLE_classPrefix:identifier___ViewController.m</string>         
         <string>.gitignore</string>         
      </array>
      <key>Options</key>
      <array />
      <key>SortOrder</key>
      <integer>1</integer>
   </dict>
</plist>
