<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
   <dict>
      <key>Identifier</key>
      <string>org.aerogear.template.project.AeroGear-OTP</string>
      <key>Name</key>
      <string>AeroGear OTP Dependency</string>
      <key>Ancestors</key>
      <array />
      <key>Description</key>
      <string />
      <key>Kind</key>
      <string>Xcode.Xcode3.ProjectTemplateUnitKind</string> 
      <key>Options</key>
      <array>
         <dict>
            <key>Identifier</key>
            <string>otp</string>
            <key>Name</key>
            <string>OTP (TOTP) - Time-based One-Time Password</string>
            <key>Description</key>
            <string>Indicates whether the application should include the AeroGear OTP library</string>
            <key>NotPersisted</key>
            <true />
            <key>Type</key>
            <string>checkbox</string>            
            <key>Default</key>
            <string>false</string>
            <key>Units</key>
            <dict>
               <key>true</key>
               <dict>
                  <key>Definitions</key>
                  <dict>
                     <key>../Podfile:aerogear</key>
                     <string>
pod &apos;AeroGear&apos;
pod &apos;AeroGear-OTP&apos;
                     </string>
                  </dict>
               </dict>
            </dict>
         </dict>
      </array>
   </dict>
</plist>
