<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
   <dict>
      <key>Identifier</key>
      <string>org.aerogear.template.project.AeroGear</string>
      <key>Name</key>
      <string>AeroGear Dependency</string>
      <key>Ancestors</key>
      <array />
      <key>Definitions</key>
      <dict>
         <key>../Podfile:aerogear</key>
         <string>pod &apos;AeroGear&apos;, :git => &apos;https://github.com/aerogear/aerogear-ios.git&apos;</string>            
         <key>___PACKAGENAME___-Prefix.pch:objC:importSystemConfiguration</key>
         <string>#import &lt;SystemConfiguration/SystemConfiguration.h&gt;</string>
         <key>___PACKAGENAME___-Prefix.pch:objC:importCoreServices</key>
         <string>#import &lt;MobileCoreServices/MobileCoreServices.h&gt;</string>
      </dict>
      <key>Description</key>
      <string />
      <key>Kind</key>
      <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
      <key>Nodes</key>
      <array>
         <string>../Podfile:aerogear</string>
         <string>___PACKAGENAME___-Prefix.pch:objC:importSystemConfiguration</string>
         <string>___PACKAGENAME___-Prefix.pch:objC:importCoreServices</string>
      </array>
      <key>Options</key>
      <array>
         <dict>
            <key>Identifier</key>
            <string>authType</string>
            <key>Name</key>
            <string>Authentication Type</string>
            <key>Description</key>
            <string>Which authentication type to enable by default</string>
            <key>NotPersisted</key>
            <true />
            <key>Type</key>
            <string>popup</string>
            <key>Default</key>
            <string>None</string>
            <key>Units</key>
            <dict>
               <key>None</key>
               <dict>
                  <key>Definitions</key>
                  <dict>
                     <key>Classes/Service/___PACKAGENAMEASIDENTIFIER___APIClient.h</key>
                     <dict>
                        <key>Path</key>
                        <string>Auth.None/___PACKAGENAMEASIDENTIFIER___APIClient.h</string>
                        <key>Group</key>
                        <key>Service</key>
                     </dict>
                     <key>Classes/Service/___PACKAGENAMEASIDENTIFIER___APIClient.m</key>
                     <dict>
                        <key>Path</key>
                        <string>Auth.None/___PACKAGENAMEASIDENTIFIER___APIClient.m</string>
                        <key>Group</key>
                        <key>Service</key>
                     </dict>
                     <key>Classes/Controllers/___VARIABLE_classPrefix:identifier___ViewController.h</key>
                     <dict>
                        <key>Path</key>
                        <string>Auth.None/ViewController.h</string>
                        <key>Group</key>
                        <key>Controllers</key>
                     </dict>
                     <key>Classes/Controllers/___VARIABLE_classPrefix:identifier___ViewController.m</key>
                     <dict>
                        <key>Path</key>
                        <string>Auth.None/ViewController.m</string>
                        <key>Group</key>
                        <key>Controllers</key>
                     </dict>
                  </dict>
                  <key>Nodes</key>
                  <array>
                     <string>Classes/Controllers/___VARIABLE_classPrefix:identifier___ViewController.h</string>
                     <string>Classes/Controllers/___VARIABLE_classPrefix:identifier___ViewController.m</string>
                     <string>Classes/Service/___PACKAGENAMEASIDENTIFIER___APIClient.h</string>
                     <string>Classes/Service/___PACKAGENAMEASIDENTIFIER___APIClient.m</string>
                  </array>
               </dict>
               <key>HTTP Basic</key>
               <dict>
                  <key>Definitions</key>
                  <dict>
                     <key>Classes/Service/___PACKAGENAMEASIDENTIFIER___APIClient.h</key>
                     <dict>
                        <key>Path</key>
                        <string>Auth.BasicDigest/___PACKAGENAMEASIDENTIFIER___APIClient.h</string>
                        <key>Group</key>
                        <key>Service</key>
                     </dict>
                     <key>Classes/Service/___PACKAGENAMEASIDENTIFIER___APIClient.m</key>
                     <dict>
                        <key>Path</key>
                        <string>Auth.BasicDigest/___PACKAGENAMEASIDENTIFIER___APIClient.m</string>
                        <key>Group</key>
                        <key>Service</key>
                     </dict>
                     <key>Classes/Controllers/___VARIABLE_classPrefix:identifier___ViewController.h</key>
                     <dict>
                        <key>Path</key>
                        <string>Auth.BasicDigest/ViewController.h</string>
                        <key>Group</key>
                        <key>Controllers</key>
                     </dict>
                     <key>Classes/Controllers/___VARIABLE_classPrefix:identifier___ViewController.m</key>
                     <dict>
                        <key>Path</key>
                        <string>Auth.BasicDigest/ViewController.m</string>
                        <key>Group</key>
                        <key>Controllers</key>
                     </dict>
                  </dict>
                  <key>Nodes</key>
                  <array>
                     <string>Classes/Controllers/___VARIABLE_classPrefix:identifier___ViewController.h</string>
                     <string>Classes/Controllers/___VARIABLE_classPrefix:identifier___ViewController.m</string>
                     <string>Classes/Service/___PACKAGENAMEASIDENTIFIER___APIClient.h</string>
                     <string>Classes/Service/___PACKAGENAMEASIDENTIFIER___APIClient.m</string>
                  </array>
               </dict>
               <key>HTTP Digest</key>
               <dict>
                  <key>Definitions</key>
                  <dict>
                     <key>Classes/Service/___PACKAGENAMEASIDENTIFIER___APIClient.h</key>
                     <dict>
                        <key>Path</key>
                        <string>Auth.BasicDigest/___PACKAGENAMEASIDENTIFIER___APIClient.h</string>
                        <key>Group</key>
                        <key>Service</key>
                     </dict>
                     <key>Classes/Service/___PACKAGENAMEASIDENTIFIER___APIClient.m</key>
                     <dict>
                        <key>Path</key>
                        <string>Auth.BasicDigest/___PACKAGENAMEASIDENTIFIER___APIClient.m</string>
                        <key>Group</key>
                        <key>Service</key>
                     </dict>
                     <key>Classes/Controllers/___VARIABLE_classPrefix:identifier___ViewController.h</key>
                     <dict>
                        <key>Path</key>
                        <string>Auth.BasicDigest/ViewController.h</string>
                        <key>Group</key>
                        <key>Controllers</key>
                     </dict>
                     <key>Classes/Controllers/___VARIABLE_classPrefix:identifier___ViewController.m</key>
                     <dict>
                        <key>Path</key>
                        <string>Auth.BasicDigest/ViewController.m</string>
                        <key>Group</key>
                        <key>Controllers</key>
                     </dict>
                  </dict>
                  <key>Nodes</key>
                  <array>
                     <string>Classes/Controllers/___VARIABLE_classPrefix:identifier___ViewController.h</string>
                     <string>Classes/Controllers/___VARIABLE_classPrefix:identifier___ViewController.m</string>
                     <string>Classes/Service/___PACKAGENAMEASIDENTIFIER___APIClient.h</string>
                     <string>Classes/Service/___PACKAGENAMEASIDENTIFIER___APIClient.m</string>
                  </array>
               </dict>
               <key>AeroGear Security</key>
               <dict>
                  <key>Definitions</key>
                  <dict>
                     <key>Classes/Service/___PACKAGENAMEASIDENTIFIER___APIClient.h</key>
                     <dict>
                        <key>Path</key>
                        <string>Auth.AGSecurity/___PACKAGENAMEASIDENTIFIER___APIClient.h</string>
                        <key>Group</key>
                        <key>Service</key>
                     </dict>
                     <key>Classes/Service/___PACKAGENAMEASIDENTIFIER___APIClient.m</key>
                     <dict>
                        <key>Path</key>
                        <string>Auth.AGSecurity/___PACKAGENAMEASIDENTIFIER___APIClient.m</string>
                        <key>Group</key>
                        <key>Service</key>
                     </dict>
                     <key>Classes/Controllers/___VARIABLE_classPrefix:identifier___ViewController.h</key>
                     <dict>
                        <key>Path</key>
                        <string>Auth.AGSecurity/ViewController.h</string>
                        <key>Group</key>
                        <key>Controllers</key>
                     </dict>
                     <key>Classes/Controllers/___VARIABLE_classPrefix:identifier___ViewController.m</key>
                     <dict>
                        <key>Path</key>
                        <string>Auth.AGSecurity/ViewController.m</string>
                        <key>Group</key>
                        <key>Controllers</key>
                     </dict>
                  </dict>
                  <key>Nodes</key>
                  <array>
                     <string>Classes/Controllers/___VARIABLE_classPrefix:identifier___ViewController.h</string>
                     <string>Classes/Controllers/___VARIABLE_classPrefix:identifier___ViewController.m</string>
                     <string>Classes/Service/___PACKAGENAMEASIDENTIFIER___APIClient.h</string>
                     <string>Classes/Service/___PACKAGENAMEASIDENTIFIER___APIClient.m</string>
                  </array>
               </dict>               
            </dict>
         </dict>
      </array>
      <key>SortOrder</key>
      <integer>1</integer>
   </dict>
</plist>
